<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}

        <img class="portrait" src="./img/WhatsApp Image 2022-07-10 at 11.28.06 AM.jpeg ">
        </div>
       
        {{>footer}}
    </body>
</html>